body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: sans-serif;
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
}

h1{
  margin-left: 10px;
  margin-top: 20px ;
}
/* === NAVIGATION === */
.navsection {
  margin-top: 100px;
  width: 350px;
  height: 150vh;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  margin-right: 0;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.navbar {
  display: block;
  flex-direction: column;
  text-align: right;
  margin-right: 0px;
  padding: 0;
}

/* 3. Nav-länkar: alla länkar i nav */
.navbar .nav-link {
  color: #333333;
  text-transform: none;
  margin-top: 3px;
  margin-left: 0;
  padding-left: 0;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: right;
}

/* 4. Första länken: ingen övre marginal */
.navbar .nav-link:first-child {
  margin-top: 0;
}
/* 5. Länkar under 'Still': inget extra indrag */
#projectsStillCollapse .nav-link {
  margin-left: 0;
  color: #333333;
}
/* 5. Länkar under 'Street': inget extra indrag */
#projectsStreetCollapse .nav-link {
  margin-left: 0;
  color: #333333;
}
/* 5. Länkar under 'City': inget extra indrag */
#projectsCityCollapse .nav-link {
  margin-left: 0;
  color: #333333;
}
#projectsPeopleCollapse .nav-link {
  margin-left: 0;
  color: #333333;
}

/* Collapse länkar (under Still) */
.collapse a.nav-link {
  padding-left: 10px;
  font-size: 1.0rem;
}



/* === BILDOMRÅDE === */
.image-area {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 10px 10px; /* Luft runt bilden */
  box-sizing: border-box;
  background-color: #fff;
}

#viewer-img {
  max-width: 100%;
  max-height: 100%;
  display: block;
 
}

/* Stil för vår anpassade muspekare */
.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 100;
   display: none; /* Börjar dold */
  align-items: center;
  justify-content: center;
  background: rgba(242, 255, 1, 0.944);
  border-radius: 50%;
  color: rgb(17, 17, 17);
  font-size: 24px;
  transition: transform 0.2s ease;
  /* NYTT: Centrera exakt över muspekaren */
  transform: translate(-50%, -50%);
  left: 0; 
  top: 0;
  border: 2px solid black;
}

/* === Controls and buttons === */
.controls {
  bottom: 20px;
  margin-left: 0px;
  display: flex;
  gap: 10px;
  z-index: 5;
}

button {
  padding: 10px 10px;
  font-size:  1.2rem;
  color: rgb(31, 31, 31);
  border: none;
  cursor: pointer;
  background-color: #fff;
 
}

button:hover {
  background-color: #e4e5e6;
}